
/* CSS code specifically for the donations_page */
.header-image {
    background-image: url("/website_images/Grace_Well_Church.jpg");
}

.col-md-6 img {
    width: 370px;
    height: 250px;
    border-radius: 10px;
  }
  