/* CSS code for the specifically the Home Page */
.header-image {
    background-image: url("/website_images/pexel-kamil-zubrzycki-landing-(edited).jpg");
  }
  
.col-md-6 img {
    width: 370px;
    height: 250px;
    border-radius: 10px;
  }

  /* Additional CSS for recent sermons */
.scrolling-images {
  display: flex;
  overflow-x: scroll;
  padding-bottom: 20px;
}

.scrolling-images-inner {
  flex: 0 0 auto;
  margin-right: 15px;
  text-align: center;
}

.sermon-image {
  width: 200px;
  height: 150px;
  object-fit: cover;
  border-radius: 5px;
}

.sermon-title {
  margin-top: 5px;
  font-size: 14px;
}
